//MOBILE (sm) --------------------------------------------------------------------------
@media (min-width: map-get($media-widths, sm)) {
  footer {
    width: 100%;
    background-color: colors(medisnow);
    display: flex;
    justify-content: center;
    .footer-content {
      width: calc(100vw - 12vw);
      .col {
        display: block;
        margin-bottom: vert-heights-half(sm);
        .col-header {
          font-family: "TT-Norms-Light";
          margin-bottom: vert-heights-quarter(sm);
        }
        .insta {
            width: 1.2rem;
            padding-top: 0.4rem 
        }
      }
    }
  }

  //TABLET (md) --------------------------------------------------------------------------
  @media (min-width: map-get($media-widths, md)) {
    //DESKTOP (lg) --------------------------------------------------------------------------
    @media (min-width: map-get($media-widths, lg)) {
      //HD (xl) --------------------------------------------------------------------------
      @media (min-width: map-get($media-widths, xl)) {
      }
    }
  }
}
