//MOBILE (sm) --------------------------------------------------------------------------
@media (min-width: map-get($media-widths, sm)) {
  .intro_h1 {
    grid-area: header;
  }
  .intro_p {
    grid-area: info;
  }
  .arrow-down {
    height: vert-heights-half(sm);
    grid-area: down-arrow;
    margin-bottom: 10px;
  }
  .intro {
    display: grid;
    grid-template-columns: 6vw 88vw 6vw;
    grid-template-rows: auto;
    grid-template-areas:
      ". header ."
      ". down-arrow ."
      ". info .";
  }
  .bg-illu {
    width: 60vw;
    position: absolute;
    left: calc(40vw);
    top: vert-heights(sm);
    z-index: -10;
  }

  //TABLET (md) ------------------------------------------------------------------------
  @media (min-width: map-get($media-widths, md)) {
    .arrow-down {
      height: vert-heights-half(md);
      margin-bottom: 0;
    }
    .intro {
      display: grid;
      grid-template-columns: 4vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 4vw;
      grid-template-rows: auto;
      grid-template-areas:
        ". . header header header header header header . ."
        ". . down-arrow . . . . . . ."
        ". . . info info info info info . .";
    }
    .bg-illu {
      top: vert-heights(md);
      width: 40vw;
      left: calc(55vw);
    }
    //DESKTOP (lg) ---------------------------------------------------------------------
    @media (min-width: map-get($media-widths, lg)) {
      .arrow-down {
        height: vert-heights-half(lg);
      }
      .bg-illu {
        top: vert-heights(lg);
      }
      //HD (xl) ------------------------------------------------------------------------
      @media (min-width: map-get($media-widths, xl)) {
        .arrow-down {
          height: vert-heights-half(xl);
        }
        .intro {
          display: grid;
          justify-content: center;
          grid-template-columns: 166px 166px 166px 166px 166px 166px 166px 166px;
          grid-template-rows: auto;
          grid-template-areas:
            ". header header header header header header ."
            ". down-arrow . . . . . ."
            ". . info info info info info .";
        }
        .bg-illu {
            width: 600px;
            position: absolute;
            left: calc(55vw);
            top: vert-heights(xl);
            z-index: -10;
          }
      }
    }
  }
}
