@font-face {
  font-family: "TT-Norms-Light";
  src: url(../fonts/TT-Norms-Light.woff2) format("woff2"),
    url(../fonts/TT-Norms-Light.woff) format("woff");
}
@font-face {
  font-family: "TT-Norms-Medium";
  src: url(../fonts/TT-Norms-Medium.woff2) format("woff2"),
    url(../fonts/TT-Norms-Medium.woff) format("woff");
}

html,
body {
  font-family: "TT-Norms-Medium";
  margin: 0;
  color: map-get($colors, steel);
  ::selection {
    background-color: colors(medisnow);
  }
  *:focus {
    outline: none;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
.hidden {
  visibility: hidden;
}
.display-block {
  display: block;
}
.display-none {
  display: none;
}
.display-grid {
  display: grid;
}
.display-inline {
  display: inline;
}
.border-bottom {
  border-bottom: 1px solid white;
}
.clip {
  clip-path: inset(0px 0px 0px 0px);
}
.color-steel {
  color: colors(steel);
}
.color-stone {
  color: colors(stone);
}
.color-forest {
  color: colors(forest);
}
.color-lila {
  color: colors(lila);
}
.color-ocean {
  color: colors(ocean);
}
.color-rain {
  color: colors(rain);
}
.background-forest {
  background-color: colors(forest-tint);
}
.background-lila {
  background-color: colors(lila-tint);
}
.background-ocean {
  background-color: colors(ocean-tint);
}
.background-rain {
  background-color: colors(rain-tint);
}

@keyframes slide-in-next {
  0% {
    opacity: 0;
    margin-left: 50vw;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
@keyframes slide-in-prev {
  0% {
    opacity: 0;
    margin-left: -50vw;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes slide-out-next {
  0% {
    opacity: 1;
    //margin-left: 0vw;
  }
  100% {
    opacity: 0;
    margin-left: -200vw;
  }
}
@keyframes slide-out-prev {
  0% {
    opacity: 1;
    //margin-left: 0vw;
  }
  100% {
    opacity: 0;
    margin-left: 100vw;
  }
}
.transparent {
  opacity: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 0.5s ease;
  animation-fill-mode: forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fade-out {
  animation: fade-out 0.5s ease;
}

@keyframes arrow-in {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 2vw;
  }
}
.anim-arrow-out {
  animation: arrow-out 0.5s ease;
}
@keyframes arrow-out {
  from {
    margin-left: 2vw;
  }
  to {
    margin-left: 0;
  }
}
.anim-arrow-in {
  animation: arrow-in 0.5s ease forwards;
}

@keyframes roll-up {
  0% {
    opacity: 0;
    margin-top: 12vw;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes roll-up-small {
  0% {
    opacity: 0;
    margin-top: 50px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
.roll-up-d012 {
  animation: roll-up-small 0.75s ease 0.12s;
  animation-fill-mode: forwards;
}
.roll-up-d025 {
  animation: roll-up-small 0.75s ease 0.25s;
  animation-fill-mode: forwards;
}

@keyframes roll-left {
  0% {
    opacity: 0;
    margin-left: -12vw;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
@keyframes roll-right {
  0% {
    opacity: 0;
    margin-right: -12vw;
  }
  100% {
    opacity: 1;
    margin-right: 0;
  }
}
$bezier: ease-out;
$delay: 0.25s;
.roll-up {
  animation: 1s roll-up $bezier;
}

.roll-up-delay {
  animation: 1s roll-up $bezier $delay;
  animation-fill-mode: backwards;
}
.roll-left {
  animation: 1s roll-left $bezier;
}
.roll-left-delay {
  animation: 1s roll-left $bezier $delay;
  animation-fill-mode: backwards;
}
.roll-right {
  animation: 1s roll-right $bezier;
}
.roll-right-delay {
  animation: 1s roll-right $bezier $delay;
  animation-fill-mode: backwards;
}

@keyframes nav-collapse {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -160px;
  }
}
.nav-collapse {
  animation: 1s nav-collapse ease-out;
  animation-fill-mode: forwards;
}
@keyframes nav-expand {
  0% {
    margin-top: -160px;
  }
  100% {
    margin-top: 0;
  }
}
.nav-expand {
  animation: 0.25s nav-expand ease;
  animation-fill-mode: forwards;
}


// uncomment the below 4 lines to activate mass hovers
// @keyframes hover-forest {
//   0% {
//     background-color: colors(forest-tint);
//   }
//   100% {
//     background-color: colors(forest);
//   }
// }
// @keyframes mouseout-forest {
//   0% {
//     background-color: colors(forest);
//   }
//   100% {
//     background-color: colors(forest-tint);
//   }
// }
// .hover-forest {
//   animation: 0.5s hover-forest ease;
//   animation-fill-mode: forwards;
// }
// .mouseout-forest {
//   animation: 0.5s mouseout-forest ease;
//   animation-fill-mode: forwards;
// }
// //
// @keyframes hover-lila {
//   0% {
//     background-color: colors(lila-tint);
//   }
//   100% {
//     background-color: colors(lila);
//   }
// }
// @keyframes mouseout-lila {
//   0% {
//     background-color: colors(lila);
//   }
//   100% {
//     background-color: colors(lila-tint);
//   }
// }
// .hover-lila {
//   animation: 0.5s hover-lila ease;
//   animation-fill-mode: forwards;
// }
// .mouseout-lila {
//   animation: 0.5s mouseout-lila ease;
//   animation-fill-mode: forwards;
// }
// //
// @keyframes hover-ocean {
//   0% {
//     background-color: colors(ocean-tint);
//   }
//   100% {
//     background-color: colors(ocean);
//   }
// }
// @keyframes mouseout-ocean {
//   0% {
//     background-color: colors(ocean);
//   }
//   100% {
//     background-color: colors(ocean-tint);
//   }
// }
// .hover-ocean {
//   animation: 0.5s hover-ocean ease;
//   animation-fill-mode: forwards;
// }
// .mouseout-ocean {
//   animation: 0.5s mouseout-ocean ease;
//   animation-fill-mode: forwards;
// }
// //
// @keyframes hover-rain {
//   0% {
//     background-color: colors(rain-tint);
//   }
//   100% {
//     background-color: colors(rain);
//   }
// }
// @keyframes mouseout-rain {
//   0% {
//     background-color: colors(rain);
//   }
//   100% {
//     background-color: colors(lila-rain);
//   }
// }
// .hover-rain {
//   animation: 0.5s hover-rain ease;
//   animation-fill-mode: forwards;
// }
// .mouseout-rain {
//   animation: 0.5s mouseout-rain ease;
//   animation-fill-mode: forwards;
// }
// .hover-white {
//   color: white;
// }

////////////////////////////////////////////////////////////////////////////////////////
//MOBILE (sm) --------------------------------------------------------------------------
@media (min-width: map-get($media-widths, sm)) {
  body {
    position: fixed;
    overflow: hidden;
    .main-wrapper {
      width: 100vw;
      height: 100vh;
      overflow-y: scroll;
    }
  }
  .space {
    height: vert-heights(sm);
    width: 100vw;
  }
  .space-half {
    height: vert-heights-half(sm);
    width: 100vw;
  }
  .space-quarter {
    height: vert-heights-quarter(sm);
    width: 100vw;
  }
  h1 {
    font-family: "TT-Norms-Light";
    font-size: font-sizes-sm(h1);
    line-height: line-heights(h1);
    color: colors(stone);
  }
  h2 {
    font-family: "TT-Norms-Light";
    font-size: font-sizes-sm(h2);
    line-height: line-heights(h2);
    margin-bottom: vert-heights-quarter(sm);
  }
  h3 {
    font-family: "TT-Norms-Light";
    font-size: font-sizes-sm(h3);
    line-height: line-heights(h3);
  }
  p {
    font-size: font-sizes-sm(p);
    line-height: line-heights(p);
    padding-bottom: vert-heights(sm);
  }
  small {
    font-size: font-sizes-sm(small);
    line-height: line-heights(small);
  }
  //TABLET (md) ------------------------------------------------------------------------
  @media (min-width: map-get($media-widths, md)) {
    .space {
      height: vert-heights(md);
    }
    .space-half {
      height: vert-heights-half(md);
    }
    .space-quarter {
      height: vert-heights-quarter(md);
    }
    h1 {
      font-size: font-sizes-md(h1);
      line-height: line-heights(h1);
    }
    h2 {
      font-size: font-sizes-md(h2);
      line-height: line-heights(h2);
    }
    h3 {
      font-size: font-sizes-md(h3);
      line-height: line-heights(h3);
    }
    p {
      font-size: font-sizes-md(p);
      line-height: line-heights(p);
      padding-bottom: vert-heights(md);
    }
    small {
      font-size: font-sizes-md(small);
      line-height: line-heights(small);
    }
    //DESKTOP (lg) ---------------------------------------------------------------------
    @media (min-width: map-get($media-widths, lg)) {
      .space {
        height: vert-heights(lg);
      }
      .space-half {
        height: vert-heights-half(lg);
      }
      .space-quarter {
        height: vert-heights-quarter(lg);
      }
      h1 {
        font-size: font-sizes-lg(h1);
        line-height: line-heights(h1);
      }
      h2 {
        font-size: font-sizes-lg(h2);
        line-height: line-heights(h2);
      }
      h3 {
        font-size: font-sizes-lg(h3);
        line-height: line-heights(h3);
      }
      p {
        font-size: font-sizes-lg(p);
        line-height: line-heights(p);
        padding-bottom: vert-heights(lg);
      }
      //HD (xl) ------------------------------------------------------------------------
      @media (min-width: map-get($media-widths, xl)) {
        .space {
          height: vert-heights(xl);
          width: 100vw;
        }
        .space-half {
          height: vert-heights-half(xl);
        }
        .space-quarter {
          height: vert-heights-quarter(xl);
        }
        h1 {
          font-size: font-sizes-xl(h1);
          line-height: line-heights(h1);
        }
        h2 {
          font-size: font-sizes-xl(h2);
          margin-bottom: vert-heights-quarter(xl);
        }
        h3 {
          font-size: font-sizes-xl(h3);
          line-height: line-heights(h3);
        }
        p {
          font-size: font-sizes-xl(p);
          line-height: line-heights(p);
          padding-bottom: vert-heights(xl);
        }
        small {
          font-size: font-sizes-xl(small);
        }
      }
    }
  }
}
