//MOBILE (sm) --------------------------------------------------------------------------
@media (min-width: map-get($media-widths, sm)) {
  .news-module {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: vert-heights(sm);
    .news {
      width: calc(100vw - 12vw);
      .news-img {
        width: calc(100vw - 12vw);
        height: calc(100vw - 12vw);
        margin-bottom: vert-heights-quarter(sm);
      }
      .arrow-right {
        display: block;
        padding-top: vert-heights-quarter(sm);
        padding-bottom: vert-heights-quarter(sm);
      }
    }
  }

  //TABLET (md) --------------------------------------------------------------------------
  @media (min-width: map-get($media-widths, md)) {
    .news-module {
      display: grid;
      justify-content: center;
      grid-template-columns: 11.5vw 11.5vw 10.5vw 2vw 10.5vw 11.5vw 11.5vw;
      grid-template-rows: auto;
      grid-template-areas:
        "A . . . B . "
        "C . . . D . ";
      margin-bottom: vert-heights(md);
      .news {
        $measure: calc(11.5vw * 2 + 10.5vw);
        width: $measure;
        .news-img {
          width: $measure;
          height: $measure;
          margin-bottom: vert-heights-quarter(md);
        }
        .arrow-right {
          display: block;
          padding-top: vert-heights-quarter(md);
          padding-bottom: vert-heights-quarter(md);
        }
      }
      .A {
        grid-area: A;
      }
      .B {
        grid-area: B;
      }
      .C {
        grid-area: C;
      }
      .D {
        grid-area: D;
      }
    }
    //DESKTOP (lg) --------------------------------------------------------------------------
    @media (min-width: map-get($media-widths, lg)) {
      .news-module {
        margin-bottom: vert-heights(lg);
        .news-img {
          margin-bottom: vert-heights-quarter(lg);
        }
        .arrow-right {
          padding-top: vert-heights-quarter(lg);
          padding-bottom: vert-heights-quarter(lg);
        }
      }
      //HD (xl) --------------------------------------------------------------------------
      @media (min-width: map-get($media-widths, xl)) {
        .news-module {
          grid-template-columns: 166px 166px 152px 28px 152px 166px 166px;
          margin-bottom: vert-heights(xl);
          .news {
            $measure: calc(166px * 2 + 152px);
            width: $measure;
            .news-img {
              width: $measure;
              height: $measure;
              margin-bottom: vert-heights-quarter(xl);
            }
            .arrow-right {
              padding-top: vert-heights-quarter(xl);
              padding-bottom: vert-heights-quarter(xl);
            }
          }
        }
      }
    }
  }
}
