//MOBILE (sm) --------------------------------------------------------------------------
@media (min-width: map-get($media-widths, sm)) {
  body {
    font-family: "TT-Norms-Medium";
    margin: 0;
    color: map-get($colors, steel);
  }
  .visible {
    visibility: visible;
  }
  .invisible {
    visibility: hidden;
  }
  .display-block {
    display: block;
  }
  .display-none {
    display: none;
  }
  .display-grid {
    display: grid;
  }
  .border-bottom {
    border-bottom: 1px solid white;
  }
  nav {
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    background-color: white;
    height: vert-heights(sm);
    width: 100vw;
    align-items: center;
    #menu-left {
      display: none;
    }
    #logo {
      height: 50%;
      margin-left: 4vw;
    }
    #menu-right {
      display: none;
    }
    .burger {
      cursor: pointer;
      margin-right: 6vw;
      img {
        width: 25px;
      }
    }
  }
  .sub-menu {
    .sub-menu-top-space {
      height: vert-heights(sm);
      align-items: center;
      display: flex;
      justify-content: flex-end;
      .close-x {
        cursor: pointer;
        margin-right: 6vw;
        img {
          width: 25px;
        }
      }
    }
    .scroll-me {
      position: absolute;
      overflow-y: scroll;
      width: 100vw;
      height: 100vh;
      position: fixed;
      z-index: 20;
      background-color: colors(medisnow);
      font-family: "TT-Norms-Light";
      font-size: font-sizes-sm(h3);
      ul {
        li {
          cursor: pointer;
          padding: 1.5rem 0 1.5rem 0;
          //border-bottom: 1px solid white;
          margin: 0 6vw 0 6vw;
        }
      }

      .sub-submenu {
        font-family: "TT-Norms-Medium";
        font-size: font-sizes-sm(small);
        margin-left: 6vw;
        .sub-submenu-more {
          padding: 0.75rem 0 3rem 0;
          cursor: pointer;
        }
        .sub-submenu-title {
          font-family: "TT-Norms-Light";
          padding: 0.75rem 0 0.75rem 0;
        }
        ul {
          li {
            padding: 0.75rem 0 0.75rem 0;
            border-bottom: none;
            margin-left: 0;
          }
        }
      }
    }
  }
  .bg-illu {
    width: 60vw;
    position: absolute;
    left: calc(40vw);
    top: vert-heights(sm);
    z-index: -10;
  }
  .content {
    position: relative;
    top: vert-heights(sm);
    scroll-behavior: smooth;
  }
  .space {
    height: vert-heights(sm);
    width: 100vw;
  }
  .space-half {
    height: vert-heights-half(sm);
    width: 100vw;
  }
  .space-quarter {
    height: vert-heights-quarter(sm);
    width: 100vw;
  }
  h1 {
    font-size: font-sizes-sm(h1);
    line-height: line-heights(h1);
    font-family: "TT-Norms-Light";
    color: colors(stone);
  }
  p {
    font-size: font-sizes-sm(p);
    line-height: line-heights(p);
    padding-bottom: vert-heights(sm);
  }
  .intro_h1 {
    grid-area: header;
  }
  .intro_p {
    grid-area: info;
  }
  .arrow-down {
    height: vert-heights-half(sm);
    grid-area: down-arrow;
    margin-bottom: 10px;
  }
  .arrow-right {
    width: vert-heights-half(sm);
  }
  .reconstructive {
    background-color: colors(forest-tint);
    color: map-get($colors, forest);
    justify-self: start;
    grid-area: A;
  }
  .aesthetic {
    background-color: colors(lila-tint);
    color: map-get($colors, lila);
    justify-self: end;
    grid-area: B;
  }
  .general {
    background-color: colors(ocean-tint);
    color: map-get($colors, ocean);
    justify-self: start;
    grid-area: C;
  }
  .hand {
    background-color: colors(rain-tint);
    color: map-get($colors, rain);
    justify-self: end;
    grid-area: D;
  }
  h2 {
    font-family: "TT-Norms-Light";
    font-size: font-sizes-sm(h2);
    line-height: line-heights(h2);
    margin-bottom: vert-heights-quarter(sm);
  }
  small {
    font-size: font-sizes-sm(small);
    line-height: line-heights(small);
  }
  .intro {
    display: grid;
    grid-template-columns: 6vw 88vw 6vw;
    grid-template-rows: auto;
    grid-template-areas:
      ". header ."
      ". down-arrow ."
      ". info .";
  }
  .teasers {
    margin-bottom: vert-heights(sm);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .teaser-small {
    width: calc(88vw + -12vw);
    height: calc(88vw + -12vw);
    padding: 6vw;
    margin-bottom: 6vw;
  }

  //TABLET (md) -----------------------------------------------------------------------------
  @media (min-width: map-get($media-widths, md)) {
    nav {
      height: vert-heights(md);
      font-size: font-sizes-md(small);
      .burger {
        img {
          width: 30px;
        }
      }
    }
    .sub-menu {
      .sub-menu-top-space {
        height: vert-heights(md);
        .close-x {
          img {
            width: 30px;
          }
        }
      }
      font-size: font-sizes-md(h3);
    }

    #logo {
      margin-left: 0;
    }

    .content {
      top: vert-heights(md);
    }
    .space {
      height: vert-heights(md);
    }
    .bg-illu {
      top: vert-heights(md);
      width: 40vw;
      left: calc(55vw);
    }

    h1 {
      font-size: font-sizes-md(h1);
      line-height: line-heights(h1);
    }
    p {
      font-size: font-sizes-md(p);
      line-height: line-heights(p);
      padding-bottom: vert-heights(md);
    }
    .arrow-down {
      height: vert-heights-half(md);
      margin-bottom: 0;
    }
    .arrow-right {
      width: vert-heights-half(md);
    }

    .reconstructive {
      margin-bottom: vert-heights-quarter(md);
    }
    .aesthetic {
      margin-bottom: vert-heights-quarter(md);
    }
    h2 {
      font-size: font-sizes-md(h2);
      margin-bottom: vert-heights-quarter(md);
    }
    small {
      font-size: font-sizes-md(small);
    }
    .intro {
      display: grid;
      grid-template-columns: 4vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 4vw;
      grid-template-rows: auto;
      grid-template-areas:
        ". . header header header header header header . ."
        ". . down-arrow . . . . . . ."
        ". . . info info info info info . .";
    }
    .teasers {
      display: grid;
      grid-template-columns: 4vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 4vw;
      grid-template-rows: auto;
      grid-template-areas:
        ". . A . . . . B . ."
        ". . C . . . . D . .";
      margin-bottom: vert-heights(md);
    }
    .teaser-small {
      width: calc(
        3 * 11.5vw + -1vw + -2 * 3vw
      ); // make it 1vw narrower than 3 columns and compensate for the padding
      height: calc(
        3 * 11.5vw + -1vw + -2 * 3vw
      ); // make it 1vw narrower than 3 columns and compensate for the padding
      padding: 3vw;
    }
    //DESKTOP (lg) --------------------------------------------------------------------------
    @media (min-width: map-get($media-widths, lg)) {
      nav {
        justify-content: space-between;
        height: vert-heights(lg);
        font-size: font-sizes-lg(small);
        #menu-left {
          display: block;
          margin-left: 4vw;
          ul {
            display: flex;
            li {
              cursor: pointer;
              margin-right: 2rem;
            }
            .leistungen {
              .nupsie {
                height: 8px;
              }
            }
          }
        }
        #menu-right {
          display: block;
          margin-right: 4vw;
          ul {
            display: flex;
            li {
              display: block;
              padding-left: 2rem;
            }
          }
        }
        .burger {
          display: none;
        }
      }
      .sub-menu {
        .sub-menu-top-space {
          height: vert-heights-quarter(lg);
          .close-x {
            margin-top: 4vw;
            margin-right: 4vw;
            img {
              width: 25px;
            }
          }
        }
        height: auto;
        position: fixed;
        top: vert-heights(lg);
        font-size: font-sizes-lg(h3);
        z-index: 20;
        .scroll-me {
          ul {
            li {
              padding: 1.5rem 0vw 1.5rem 0vw;
              margin: 0 4vw 0 4vw;
            }
            .sub-submenu-more {
              grid-area: more;
            }
            .sub-submenu-1 {
              grid-area: col1;
            }
            .sub-submenu-2 {
              grid-area: col2;
            }
            .sub-submenu-3 {
              grid-area: col3;
            }
            .sub-submenu-4 {
              grid-area: col4;
            }
            .sub-submenu-5 {
              grid-area: col5;
            }
            .sub-submenu {
              margin-left: 4vw;
              font-size: font-sizes-lg(small);
              //display: grid;
              justify-content: center;
              grid-template-columns: 20% 20% 20% 20% 20%;
              grid-template-rows: auto;
              grid-template-areas: 
              "more . . . . "
              "col1 col2 col3 col4 col5";
            }
          }
        }
      }
      .bg-illu {
        top: vert-heights(lg);
      }
      .content {
        top: vert-heights(lg);
      }
      .space {
        height: vert-heights(lg);
      }
      h1 {
        font-size: font-sizes-lg(h1);
        line-height: line-heights(h1);
      }
      p {
        font-size: font-sizes-lg(p);
        line-height: line-heights(p);
        padding-bottom: vert-heights(lg);
      }
      .arrow-down {
        height: vert-heights-half(lg);
      }
      .arrow-right {
        width: vert-heights-half(lg);
      }

      .reconstructive {
        margin-bottom: vert-heights-quarter(lg);
      }
      .aesthetic {
        margin-bottom: vert-heights-quarter(lg);
      }
      h2 {
        font-size: font-sizes-lg(h2);
        margin-bottom: vert-heights-quarter(lg);
      }
      small {
        font-size: font-sizes-lg(small);
      }
      .teasers {
        margin-bottom: vert-heights(lg);
      }

      //HD (xl) --------------------------------------------------------------------------
      @media (min-width: map-get($media-widths, xl)) {
        nav {
          height: vert-heights(xl);
          font-size: font-sizes-xl(small);
          #menu-left {
            ul {
              .leistungen {
                .nupsie {
                  height: 10px;
                }
              }
            }
          }
        }
        .sub-menu {
          .sub-menu-top-space {
            height: vert-heights-quarter(xl);
          }
          top: vert-heights(xl);
          font-size: font-sizes-xl(h3);
          .scroll-me {
            ul{
              .sub-submenu {
                font-size: font-sizes-xl(small);
              }
            }
          }
        }

        .bg-illu {
          width: 600px;
          position: absolute;
          left: calc(55vw);
          top: vert-heights(xl);
          z-index: -10;
        }
        .content {
          top: vert-heights(xl);
          scroll-behavior: smooth;
        }
        .space {
          height: vert-heights(xl);
          width: 100vw;
        }
        h1 {
          font-size: font-sizes-xl(h1);
          line-height: line-heights(h1);
        }
        p {
          font-size: font-sizes-xl(p);
          line-height: line-heights(p);
          padding-bottom: vert-heights(xl);
        }
        .arrow-down {
          height: vert-heights-half(xl);
        }
        .arrow-right {
          width: vert-heights-half(xl);
        }
        .reconstructive {
          margin-bottom: vert-heights-quarter(xl);
        }
        .aesthetic {
          margin-bottom: vert-heights-quarter(xl);
        }
        h2 {
          font-size: font-sizes-xl(h2);
          margin-bottom: vert-heights-quarter(lg);
        }
        small {
          font-size: font-sizes-xl(small);
        }
        .intro {
          display: grid;
          justify-content: center;
          grid-template-columns: 200px 200px 200px 200px 200px 200px 200px 200px;
          grid-template-rows: auto;
          grid-template-areas:
            ". header header header header header header ."
            ". down-arrow . . . . . ."
            ". . info info info info info .";
        }
        .teasers {
          display: grid;
          justify-content: center;
          grid-template-columns: 200px 200px 200px 200px 200px 200px 200px 200px;
          grid-template-rows: auto;
          grid-template-areas:
            ". A . . . . B ."
            ". C . . . . D .";
          margin-bottom: vert-heights(xl);
        }
        .teaser-small {
          width: calc(
            3 * 200px + -1vw + -2 * 50px
          ); // make it 1vw narrower than 3 columns and compensate for the padding
          height: calc(
            3 * 200px + -1vw + -2 * 50px
          ); // make it 1vw narrower than 3 columns and compensate for the padding
          padding: 50px;
        }
      }
    }
  }
}
