//MOBILE (sm) --------------------------------------------------------------------------
@media (min-width: map-get($media-widths, sm)) {
  .teaser-big {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: vert-heights-half(sm);
    .slider {
      .slider-content {
        width: calc(100vw + -12vw);
        height: calc(100vw + -12vw);
        overflow: hidden;
        display: flex;
        justify-content: center;
        .slide {
          img {
            width: auto;
            height: calc(100vw + -12vw);
          }
        }
      }
      .selector {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: vert-heights-half(sm);
        .btn {
          cursor: pointer;
          height: 1px;
          width: 100%;
          background-color: colors(steel);
          margin: 5px;
        }
      }
    }
  }
  //TABLET (md) --------------------------------------------------------------------------
  @media (min-width: map-get($media-widths, md)) {
    .teaser-big {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      width: 100vw;
      margin-bottom: vert-heights(md);
      .slider {
        .slider-content {
          width: calc(100vw + -8vw);
          height: calc((100vw + -8vw) / 1.8);
          overflow: hidden;
          .slide {
            img {
              width: auto;
              height: calc((100vw + -8vw) / 1.8);
            }
          }
        }
        .selector {
          width: 33%;
          height: vert-heights-half(md);
        }
      }
    }
    //DESKTOP (lg) --------------------------------------------------------------------------
    @media (min-width: map-get($media-widths, lg)) {
      .teaser-big {
        .slider {
          .selector {
            height: vert-heights-half(lg);
          }
        }
      }
      //HD (xl) --------------------------------------------------------------------------
      @media (min-width: map-get($media-widths, xl)) {
        .teaser-big {
          margin-bottom: vert-heights(xl);
          .slider {
            .slider-content {
              width: calc(166px * 8);
              height: calc((166px * 8) / 1.8);
              overflow: hidden;
              .slide {
                img {
                  width: auto;
                  height: calc((166px * 8) / 1.8);
                }
              }
            }
          }
        }
      }
    }
  }
}
