//MOBILE (sm) --------------------------------------------------------------------------
@media (min-width: map-get($media-widths, sm)) {
  .arrow-right {
    width: vert-heights-half(sm);
  }
  .A {
    justify-self: start;
    grid-area: A;
  }
  .B {
    justify-self: end;
    grid-area: B;
  }
  .C {
    justify-self: start;
    grid-area: C;
  }
  .D {
    justify-self: end;
    grid-area: D;
  }
  .E {
    justify-self: start;
    grid-area: E;
  }
  .F {
    justify-self: end;
    grid-area: E;
  }
  .teasers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: vert-heights(sm);
  }
  .teaser-small {
    width: calc(100vw + -12vw);
    height: calc(100vw + -12vw);
    margin-bottom: 6vw;
    cursor: pointer;
  }
  .teaser-small-modal {
    display: none;
  }
  .paddington {
    padding: 6vw;
  }
  //TABLET (md) -----------------------------------------------------------------------------
  @media (min-width: map-get($media-widths, md)) {
    .arrow-right {
      width: vert-heights-half(md);
    }
    .teaser-small {
      margin-bottom: 2vw;
    }

    .A {
      display: flex;
      justify-content: flex-start;
    }
    .B {
      display: flex;
      justify-content: flex-end;
    }
    .C {
      display: flex;
      justify-content: flex-start;
    }
    .D {
      display: flex;
      justify-content: flex-end;
    }
    .E {
      display: flex;
      justify-content: flex-start;
    }
    .F {
      display: flex;
      justify-content: flex-end;
    }
    .teasers {
      display: grid;
      grid-template-columns: 4vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 4vw;
      grid-template-rows: auto;
      grid-template-areas:
        ". . A . . . . B . ."
        ". . C . . . . D . ."
        ". . E . . . . F . .";
    }
    $measure: calc(3 * 11.5vw + -1vw); // make it 1vw narrower
    .teaser-small {
      width: $measure;
      height: $measure;
      a:hover {
        text-decoration: underline;
        background-color: colors(medisnow);
      }
    }
    .paddington {
      padding: 3vw;
    }
    .teasers {
      margin-bottom: vert-heights(md);
    }
    .teaser-small-modal {
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: calc(6 * 11.5vw);
      img {
        height: $measure;
      }
      h3 {
        text-decoration: underline;
      }
    }
    .teaser-small-modal-info {
      background-color: white;
      width: $measure;
      padding: 3vw;
      small {
        a:hover {
          text-decoration: underline;
          background-color: colors(medisnow);
        }
      }
    }
    .click-area {
      width: $measure;
      height: $measure;
      position: absolute;
    }
    .close-teaser {
      height: 40px;
      img {
        height: 20px;
      }
    }
    //DESKTOP (lg) --------------------------------------------------------------------------
    @media (min-width: map-get($media-widths, lg)) {
      .arrow-right {
        width: vert-heights-half(lg);
      }
      .close-teaser {
        height: 50px;
        img {
          height: 25px;
        }
      }
      .teasers {
        margin-bottom: vert-heights(lg);
      }
      //HD (xl) --------------------------------------------------------------------------
      @media (min-width: map-get($media-widths, xl)) {
        .arrow-right {
          width: vert-heights-half(xl);
        }

        .teasers {
          display: grid;
          justify-content: center;
          grid-template-columns: 166px 166px 166px 166px 166px 166px 166px 166px;
          grid-template-rows: auto;
          grid-template-areas:
            ". A . . . . B ."
            ". C . . . . D ."
            ". E . . . . F .";
          margin-bottom: vert-heights(xl);
        }
        $measure: calc(3 * 166px + -14px);

        .teaser-small {
          width: $measure;
          height: $measure;
          margin-bottom: 28px;
        }
        .paddington {
          padding: 43px;
        }
        .teaser-small-modal {
          width: calc(6 * 166px);
          img {
            height: $measure;
          }
        }
        .teaser-small-modal-info {
          width: $measure;
          padding: 43px;
        }
        .click-area {
          width: $measure;
          height: $measure;
        }
        .close-teaser {
          height: 50px;
          img {
            height: 25px;
          }
        }
      }
    }
  }
}
