//MOBILE (sm) --------------------------------------------------------------------------
@media (min-width: map-get($media-widths, sm)) {
  .teaser-big {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: vert-heights-half(sm);
    .teaser-big-text {
      width: calc(100vw + -12vw);
      small {
        display: block;
        margin-bottom: vert-heights-quarter(sm);
      }
      h3 {
        margin-bottom: vert-heights-quarter(sm);
      }
      .arrow-right {
        margin-bottom: vert-heights-quarter(sm);
      }
    }
    .teaser-big-img {
      width: calc(100vw + -12vw);
      height: calc(100vw + -12vw);
    }
    .slider {
      .swiper-slide img {
        width: calc(100vw + -12vw);
      }
      .swiper-container {
        width: calc(100vw + -12vw);
        height: calc(100vw + -12vw);
      }
      .swiper-slide {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .swiper-pagination {
        position: relative;
        display: flex;
        align-items: flex-start;
        top: 20px;
        left: 0px;
        width: 100%; //auto !important;
        left: auto !important;
        margin: 0;
        
      }
      .swiper-pagination-bullet {
        margin: 5px;
        border-radius: 0;
        width: calc((100vw + -12vw)/5 - 5px);
        height: 1px;
        text-align: center;
        line-height: 30px;
        font-size: 12px;
        color: #000;
        opacity: 1;
        background: colors(steel);
      }
      .swiper-pagination-bullet:after {
        content: "";
        padding: 20px 50px;
      }
      
      .swiper-pagination-bullet-active {
        color: #fff;
        background: colors(steel);
        height: 5px;
      }

      // .slider-content {
      //   width: calc(100vw + -12vw);
      //   height: calc(100vw + -12vw);
      //   img {
      //     width: calc(100vw + -12vw);
      //     height: calc(100vw + -12vw);
      //   }
      // }
      // .selector {
      //   width: 100%;
      //   display: flex;
      //   flex-direction: row;
      //   align-items: center;
      //   justify-content: center;
      //   height: vert-heights-half(sm);
      //   .btn {
      //     position: relative;
      //     cursor: pointer;
      //     height: 1px;
      //     width: 100%;
      //     background-color: colors(steel);
      //     margin: 5px;
      //   }
      //   .btn:after {
      //     content: "";
      //     position: absolute;
      //     top: -15px;
      //     bottom: -15px;
      //     left: 0;
      //     right: -0;
      //   }
      // }
    }
  }
  //TABLET (md) --------------------------------------------------------------------------
  @media (min-width: map-get($media-widths, md)) {
    .teaser-big {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      width: 100vw;
      margin-bottom: vert-heights(md);
      .right {
        small,
        h3,
        .arrow-right {
          margin-left: 2vw;
        }
      }
      .teaser-big-text {
        width: calc(11.5vw * 4 - 2vw);
        padding-right: 2vw;

        small {
          margin-bottom: vert-heights-quarter(md);
        }
        h3 {
          margin-bottom: vert-heights-quarter(md);
        }
        .arrow-right {
          margin-bottom: vert-heights-quarter(md);
        }
      }
      .teaser-big-img {
        width: calc(11.5vw * 4);
        height: calc(11.5vw * 4);
      }
      .slider {
        .slider-content {
          width: calc(11.5vw * 4);
          height: calc(11.5vw * 4);
          img {
            width: calc(11.5vw * 4);
            height: calc(11.5vw * 4);
          }
        }
        .selector {
          height: vert-heights-half(md);
        }
      }
    }
    //DESKTOP (lg) --------------------------------------------------------------------------
    @media (min-width: map-get($media-widths, lg)) {
      .teaser-big {
        margin-bottom: vert-heights(lg);
        .teaser-big-text {
          small {
            margin-bottom: vert-heights-quarter(lg);
          }
          h3 {
            margin-bottom: vert-heights-quarter(lg);
          }
          .arrow-right {
            margin-bottom: vert-heights-quarter(lg);
          }
        }
        .slider {
          .slide {
            position:absolute;
          }
          .selector {
            width: 66%;
            height: vert-heights-half(lg);
          }
        }
      }
      //HD (xl) --------------------------------------------------------------------------

      @media (min-width: map-get($media-widths, xl)) {
        .teaser-big {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: flex-start;
          width: 100vw;
          margin-bottom: vert-heights(xl);
          .right {
            small,
            h3,
            .arrow-right {
              margin-left: 28px;
            }
          }
          .teaser-big-text {
            width: calc(166px * 4 - 28px);
            padding-right: 28px;
            small {
              margin-bottom: vert-heights-quarter(xl);
            }
            h3 {
              margin-bottom: vert-heights-quarter(xl);
            }
            .arrow-right {
              margin-bottom: vert-heights-quarter(xl);
            }
          }
          .teaser-big-img {
            width: calc(166px * 4);
            height: calc(166px * 4);
          }
          .slider {
            .slider-content {
              width: calc(166px * 4);
              height: calc(166px * 4);
              img {
                width: calc(166px * 4);
                height: calc(166px * 4);
              }
            }
            .selector {
              height: vert-heights-half(xl);
            }
          }
        }
      }
    }
  }
}
