//MOBILE (sm) --------------------------------------------------------------------------
@media (min-width: map-get($media-widths, sm)) {
  .teaser-big {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: vert-heights-half(sm);
    .teaser-big-text {
      width: calc(100vw + -12vw);
      small {
        display: block;
        margin-bottom: vert-heights-quarter(sm);
      }
      h3 {
        margin-bottom: vert-heights-quarter(sm);
      }
      .arrow-right {
        margin-bottom: vert-heights-quarter(sm);
      }
    }
    .teaser-big-img {
      width: calc(100vw + -12vw);
      height: calc(100vw + -12vw);
    }
    .slider {
      .swiper-slide img {
        width: calc(100vw + -12vw);
      }
      .swiper-container {
        width: calc(100vw + -12vw);
        height: calc(100vw + -12vw);
      }
      .swiper-slide {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .swiper-pagination {
        position: relative;
        display: flex;
        align-items: flex-start;
        top: vert-heights-quarter(sm);
        left: 0px;
        width: auto !important;
        left: auto !important;
        margin-bottom: vert-heights(sm);
        
      }
      .swiper-pagination-bullet {
        margin: 5px;
        border-radius: 0;
        width: calc((100vw + -12vw)/5 + -10px);
        height: 1px;
        text-align: center;
        line-height: 30px;
        font-size: 12px;
        color: #000;
        opacity: 1;
        background: colors(steel);
      }
      .swiper-pagination-bullet:after {
        content: "";
        padding: 20px calc(((100vw + -12vw)/5 + -10px)/2);
      }
      
      .swiper-pagination-bullet-active {
        color: #fff;
        background: colors(steel);
        height: 5px;
      }

    }
  }
  //TABLET (md) --------------------------------------------------------------------------
  @media (min-width: map-get($media-widths, md)) {
    .teaser-big {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      width: 100vw;
      margin-bottom: vert-heights(md);
      .right {
        small,
        h3,
        .arrow-right {
          margin-left: 2vw;
        }
      }
      .teaser-big-text {
        width: calc(11.5vw * 4 - 2vw);
        padding-right: 2vw;

        small {
          margin-bottom: vert-heights-quarter(md);
        }
        h3 {
          margin-bottom: vert-heights-quarter(md);
        }
        .arrow-right {
          margin-bottom: vert-heights-quarter(md);
        }
      }
      .teaser-big-img {
        width: calc(11.5vw * 4);
        height: calc(11.5vw * 4);
      }
      .slider {
        .swiper-slide img {
          width: calc(11.5vw * 4);
        }
        .swiper-container {
          width: calc(11.5vw * 4);
          height: calc(11.5vw * 4);
        }
        .swiper-pagination {
          top: vert-heights-quarter(md);
        }
        .swiper-pagination-bullet {
          width: calc((11.5vw * 4)/5 + -10px);
        }
        .swiper-pagination-bullet:after {
          padding: 20px calc(((11.5vw * 4)/5 + -10px)/2);
        }
      }
    }
    //DESKTOP (lg) --------------------------------------------------------------------------
    @media (min-width: map-get($media-widths, lg)) {
      .teaser-big {
        margin-bottom: vert-heights(lg);
        .teaser-big-text {
          small {
            margin-bottom: vert-heights-quarter(lg);
          }
          h3 {
            margin-bottom: vert-heights-quarter(lg);
          }
          .arrow-right {
            margin-bottom: vert-heights-quarter(lg);
          }
        }
        .slider {
          .swiper-pagination {
            top: vert-heights-quarter(lg);
          }
          .swiper-pagination-bullet {
            width: calc((0.115 * 1025px * 4)/5 + -10px);
          }
          .swiper-pagination-bullet:after {
            padding: 20px calc(((0.115 * 1025px * 4)/5 + -10px)/2);
          }
        }
      }
      //HD (xl) --------------------------------------------------------------------------

      @media (min-width: map-get($media-widths, xl)) {
        .teaser-big {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: flex-start;
          width: 100vw;
          margin-bottom: vert-heights(xl);
          .right {
            small,
            h3,
            .arrow-right {
              margin-left: 28px;
            }
          }
          .teaser-big-text {
            width: calc(166px * 4 - 28px);
            padding-right: 28px;
            small {
              margin-bottom: vert-heights-quarter(xl);
            }
            h3 {
              margin-bottom: vert-heights-quarter(xl);
            }
            .arrow-right {
              margin-bottom: vert-heights-quarter(xl);
            }
          }
          .teaser-big-img {
            width: calc(166px * 4);
            height: calc(166px * 4);
          }
          .slider {
            .swiper-slide img {
              width: calc(166px * 4);
              
            }
            .swiper-container {
              width: calc(166px * 4);
              height: calc(166px * 4);
            }
            .swiper-pagination {
              top: vert-heights-quarter(lg);
            }

          }
        }
      }
    }
  }
}
