@keyframes slide-in-next {
  0% {
    opacity: 0;
    margin-left: 50vw;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
@keyframes slide-in-prev {
  0% {
    opacity: 0;
    margin-left: -50vw;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

//MOBILE (sm) --------------------------------------------------------------------------
@media (min-width: map-get($media-widths, sm)) {
  .testimonial {
    small {
      display: block;
      width: 76vw;
      margin-bottom: 6vw;
      margin-left: 12vw;
    }

    .module {
      display: flex;
      justify-content: space-between;
      .arrow {
        width: 12vw;
        height: calc(76vw / 2);
        display: flex;
        align-items: flex-end;
        justify-content: center;
        img {
          width: 3vw;
          cursor: pointer;
        }
      }
    }

    .testimonial-content {
      position: absolute;
      width: 76vw;
      margin-left: 12vw;

      img {
        display: block;
        width: calc(76vw / 2);
        margin-bottom: 6vw;
      }
      h3 {
        display: block;
        width: 76vw;
        margin-bottom: 6vw;
        height: calc(76vw / 2);
      }
    }
    .clip {
      clip-path: inset(0px 0px 0px 0px);
    }
  }
  //TABLET (MD) --------------------------------------------------------------------------
  @media (min-width: map-get($media-widths, md)) {
    .testimonial {
      small {
        margin-left: calc(4vw + 11.5vw);
        margin-bottom: 2vw;
      }
      .module {
        .arrow {
          height: calc(11.5vw * 1.5);
          width: calc(4vw + 11.5vw);
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 1.5vw;
          }
        }
      }
      .testimonial-content {
        width: calc(11.5vw * 6);
        margin-left: calc(4vw + 11.5vw);
        .slide {
          display: flex;
          align-items: center;
          width: calc(11.5vw * 6);
          img {
            width: calc(11.5vw * 1.5);
            margin-right: 2vw;
          }
          h3 {
            display: flex;
            align-items: center;
            width: auto;
            height: calc(11.5vw * 1.5);
          }
        }
      }
    }
    //DESKTOP (LG) --------------------------------------------------------------------------
    @media (min-width: map-get($media-widths, lg)) {
      //HD (XL) --------------------------------------------------------------------------
      @media (min-width: map-get($media-widths, xl)) {
        .testimonial {
          .arrow {
            img {
              width: 21px;
            }
          }
          small {
            margin-bottom: 21px;
          }
          .slide {
            width: calc(166px * 6);
            img {
              width: calc(166px * 1.5);
              margin-right: 21px;
            }
          }
        }
      }
    }
  }
}
