$colors: (
    "steel": #50565B,
    "stone": #737B82,
    "forest": #636951,
    "forest-tint": #D7DACD,
    "lila": #5C3C78,
    "lila-tint": #D6D1DB,
    "ocean": #1E505F,
    "ocean-tint": #C7D9DD,
    "rain": #3B4C5B,
    "rain-tint": #CCD3D6,
    "snow": #E9EAE5,
);


$media-widths: (
  "sm": 0px,
  "md": 799px,
  "lg": 1023px,
  "xl": 1439px,
);
$vert-heights: (
    "sm": 90px,
    "md": 90px,
    "lg": 120px,
    "xl": 180px,
);
$vert-heights-half: (
    "sm": 45px,
    "md": 45px,
    "lg": 60px,
    "xl": 90px,
);
$vert-heights-quarter: (
    "sm": 22px,
    "md": 22px,
    "lg": 30px,
    "xl": 45px,
);

//--------FONT SIZES---------------
$font-sizes-sm: (
    "h1": 36px,
    "h2": 30px,
    "h3": 24px,
    "p": 20px,
    "small": 18px,
);
$font-sizes-md: (
    "h1": 5.71vw,
    "h2": 3vw,
    "h3": 2.14vw,
    "p": 1.71vw,
    "small": 1.38vw,
);
$font-sizes-lg: (
    "h1": 5.71vw,
    "h2": 3vw,
    "h3": 2.14vw,
    "p": 1.71vw,
    "small": 1.38vw,
);
$font-sizes-xl: (
    "h1": 80px,
    "h2": 42px,
    "h3": 30px,
    "p": 24px,
    "small": 20px,
);
//-------
$line-heights: (
    "h1": 1.2,
    "h2": 1.2,
    "h3": 1.2,
    "p": 1.3,
    "small": 1.3,
);
