$colors: (
  "steel": #50565b,
  "stone": #737b82,
  "forest": #636951,
  "forest-tint": #d7dacd,
  "lila": #5c3c78,
  "lila-tint": #d6d1db,
  "ocean": #1e505f,
  "ocean-tint": #c7d9dd,
  "rain": #3b4c5b,
  "rain-tint": #ccd3d6,
  "medisnow": #e9eae5,
);

$media-widths: (
  "sm": 0px,
  "md": 801px,
  "lg": 1025px,
  "xl": 1441px,
);

//---------VERTICAL SPACING---------------
$vert-heights: (
  "sm": 90px,
  "md": 120px,
  "lg": 160px,
  "xl": 180px,
);
$vert-heights-half: (
  "sm": 45px,
  "md": 45px,
  "lg": 60px,
  "xl": 90px,
);
$vert-heights-quarter: (
  "sm": 22px,
  "md": 22px,
  "lg": 30px,
  "xl": 45px,
);

//--------FONT SIZES---------------
$font-sizes-sm: (
  "h1": 36px,
  "h2": 30px,
  "h3": 24px,
  "p": 20px,
  "small": 18px,
);
$font-sizes-md: (
  "h1": 5.71vw,
  "h2": 3vw,
  "h3": 2.14vw,
  "p": 1.71vw,
  "small": 1.38vw,
);
$font-sizes-lg: (
  "h1": 5.71vw,
  "h2": 3vw,
  "h3": 2.14vw,
  "p": 1.71vw,
  "small": 1.38vw,
);
$font-sizes-xl: (
  "h1": 80px,
  "h2": 42px,
  "h3": 30px,
  "p": 24px,
  "small": 20px,
);
//-------
$line-heights: (
  "h1": 1.2,
  "h2": 1.2,
  "h3": 1.2,
  "p": 1.3,
  "small": 1.3,
);
@function colors($color) {
  @return map-get($colors, $color);
}
@function media-widths($media-width) {
  @return map-get($media-widths, $media-width);
}
@function vert-heights($vert-height) {
  @return map-get($vert-heights, $vert-height);
}
@function vert-heights-half($vert-height-half) {
  @return map-get($vert-heights-half, $vert-height-half);
}
@function vert-heights-quarter($vert-height-quarter) {
  @return map-get($vert-heights-quarter, $vert-height-quarter);
}
@function font-sizes-sm($font-size-sm) {
  @return map-get($font-sizes-sm, $font-size-sm);
}
@function font-sizes-md($font-size-md) {
  @return map-get($font-sizes-md, $font-size-md);
}
@function font-sizes-lg($font-size-lg) {
  @return map-get($font-sizes-lg, $font-size-lg);
}
@function font-sizes-xl($font-size-xl) {
  @return map-get($font-sizes-xl, $font-size-xl);
}
@function line-heights($line-height) {
  @return map-get($line-heights, $line-height);
}
