/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "TT-Norms-Light";
  src: url(../fonts/TT-Norms-Light.woff2) format("woff2"), url(../fonts/TT-Norms-Light.woff) format("woff");
}

@font-face {
  font-family: "TT-Norms-Medium";
  src: url(../fonts/TT-Norms-Medium.woff2) format("woff2"), url(../fonts/TT-Norms-Medium.woff) format("woff");
}

html,
body {
  font-family: "TT-Norms-Medium";
  margin: 0;
  color: #50565b;
}

html ::-moz-selection,
body ::-moz-selection {
  background-color: #e9eae5;
}

html ::selection,
body ::selection {
  background-color: #e9eae5;
}

html *:focus,
body *:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.hidden {
  visibility: hidden;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.display-grid {
  display: -ms-grid;
  display: grid;
}

.display-inline {
  display: inline;
}

.border-bottom {
  border-bottom: 1px solid white;
}

.clip {
  -webkit-clip-path: inset(0px 0px 0px 0px);
          clip-path: inset(0px 0px 0px 0px);
}

.color-steel {
  color: #50565b;
}

.color-stone {
  color: #737b82;
}

.color-forest {
  color: #636951;
}

.color-lila {
  color: #5c3c78;
}

.color-ocean {
  color: #1e505f;
}

.color-rain {
  color: #3b4c5b;
}

.background-forest {
  background-color: #d7dacd;
}

.background-lila {
  background-color: #d6d1db;
}

.background-ocean {
  background-color: #c7d9dd;
}

.background-rain {
  background-color: #ccd3d6;
}

@-webkit-keyframes slide-in-next {
  0% {
    opacity: 0;
    margin-left: 50vw;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes slide-in-next {
  0% {
    opacity: 0;
    margin-left: 50vw;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@-webkit-keyframes slide-in-prev {
  0% {
    opacity: 0;
    margin-left: -50vw;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes slide-in-prev {
  0% {
    opacity: 0;
    margin-left: -50vw;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@-webkit-keyframes slide-out-next {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    margin-left: -200vw;
  }
}

@keyframes slide-out-next {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    margin-left: -200vw;
  }
}

@-webkit-keyframes slide-out-prev {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    margin-left: 100vw;
  }
}

@keyframes slide-out-prev {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    margin-left: 100vw;
  }
}

.transparent {
  opacity: 0;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 0.5s ease;
          animation: fade-in 0.5s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 0.5s ease;
          animation: fade-out 0.5s ease;
}

@-webkit-keyframes arrow-in {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 2vw;
  }
}

@keyframes arrow-in {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 2vw;
  }
}

.anim-arrow-out {
  -webkit-animation: arrow-out 0.5s ease;
          animation: arrow-out 0.5s ease;
}

@-webkit-keyframes arrow-out {
  from {
    margin-left: 2vw;
  }
  to {
    margin-left: 0;
  }
}

@keyframes arrow-out {
  from {
    margin-left: 2vw;
  }
  to {
    margin-left: 0;
  }
}

.anim-arrow-in {
  -webkit-animation: arrow-in 0.5s ease forwards;
          animation: arrow-in 0.5s ease forwards;
}

@-webkit-keyframes roll-up {
  0% {
    opacity: 0;
    margin-top: 12vw;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes roll-up {
  0% {
    opacity: 0;
    margin-top: 12vw;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@-webkit-keyframes roll-up-small {
  0% {
    opacity: 0;
    margin-top: 50px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes roll-up-small {
  0% {
    opacity: 0;
    margin-top: 50px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.roll-up-d012 {
  -webkit-animation: roll-up-small 0.75s ease 0.12s;
          animation: roll-up-small 0.75s ease 0.12s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.roll-up-d025 {
  -webkit-animation: roll-up-small 0.75s ease 0.25s;
          animation: roll-up-small 0.75s ease 0.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes roll-left {
  0% {
    opacity: 0;
    margin-left: -12vw;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes roll-left {
  0% {
    opacity: 0;
    margin-left: -12vw;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@-webkit-keyframes roll-right {
  0% {
    opacity: 0;
    margin-right: -12vw;
  }
  100% {
    opacity: 1;
    margin-right: 0;
  }
}

@keyframes roll-right {
  0% {
    opacity: 0;
    margin-right: -12vw;
  }
  100% {
    opacity: 1;
    margin-right: 0;
  }
}

.roll-up {
  -webkit-animation: 1s roll-up ease-out;
          animation: 1s roll-up ease-out;
}

.roll-up-delay {
  -webkit-animation: 1s roll-up ease-out 0.25s;
          animation: 1s roll-up ease-out 0.25s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.roll-left {
  -webkit-animation: 1s roll-left ease-out;
          animation: 1s roll-left ease-out;
}

.roll-left-delay {
  -webkit-animation: 1s roll-left ease-out 0.25s;
          animation: 1s roll-left ease-out 0.25s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.roll-right {
  -webkit-animation: 1s roll-right ease-out;
          animation: 1s roll-right ease-out;
}

.roll-right-delay {
  -webkit-animation: 1s roll-right ease-out 0.25s;
          animation: 1s roll-right ease-out 0.25s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes nav-collapse {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -160px;
  }
}

@keyframes nav-collapse {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -160px;
  }
}

.nav-collapse {
  -webkit-animation: 1s nav-collapse ease-out;
          animation: 1s nav-collapse ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes nav-expand {
  0% {
    margin-top: -160px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes nav-expand {
  0% {
    margin-top: -160px;
  }
  100% {
    margin-top: 0;
  }
}

.nav-expand {
  -webkit-animation: 0.25s nav-expand ease;
          animation: 0.25s nav-expand ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (min-width: 0px) {
  body {
    position: fixed;
    overflow: hidden;
  }
  body .main-wrapper {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
  }
  .space {
    height: 90px;
    width: 100vw;
  }
  .space-half {
    height: 45px;
    width: 100vw;
  }
  .space-quarter {
    height: 22px;
    width: 100vw;
  }
  h1 {
    font-family: "TT-Norms-Light";
    font-size: 36px;
    line-height: 1.2;
    color: #737b82;
  }
  h2 {
    font-family: "TT-Norms-Light";
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 22px;
  }
  h3 {
    font-family: "TT-Norms-Light";
    font-size: 24px;
    line-height: 1.2;
  }
  p {
    font-size: 20px;
    line-height: 1.3;
    padding-bottom: 90px;
  }
  small {
    font-size: 18px;
    line-height: 1.3;
  }
}

@media (min-width: 0px) and (min-width: 801px) {
  .space {
    height: 120px;
  }
  .space-half {
    height: 45px;
  }
  .space-quarter {
    height: 22px;
  }
  h1 {
    font-size: 5.71vw;
    line-height: 1.2;
  }
  h2 {
    font-size: 3vw;
    line-height: 1.2;
  }
  h3 {
    font-size: 2.14vw;
    line-height: 1.2;
  }
  p {
    font-size: 1.71vw;
    line-height: 1.3;
    padding-bottom: 120px;
  }
  small {
    font-size: 1.38vw;
    line-height: 1.3;
  }
}

@media (min-width: 0px) and (min-width: 801px) and (min-width: 1025px) {
  .space {
    height: 160px;
  }
  .space-half {
    height: 60px;
  }
  .space-quarter {
    height: 30px;
  }
  h1 {
    font-size: 5.71vw;
    line-height: 1.2;
  }
  h2 {
    font-size: 3vw;
    line-height: 1.2;
  }
  h3 {
    font-size: 2.14vw;
    line-height: 1.2;
  }
  p {
    font-size: 1.71vw;
    line-height: 1.3;
    padding-bottom: 160px;
  }
}

@media (min-width: 0px) and (min-width: 801px) and (min-width: 1025px) and (min-width: 1441px) {
  .space {
    height: 180px;
    width: 100vw;
  }
  .space-half {
    height: 90px;
  }
  .space-quarter {
    height: 45px;
  }
  h1 {
    font-size: 80px;
    line-height: 1.2;
  }
  h2 {
    font-size: 42px;
    margin-bottom: 45px;
  }
  h3 {
    font-size: 30px;
    line-height: 1.2;
  }
  p {
    font-size: 24px;
    line-height: 1.3;
    padding-bottom: 180px;
  }
  small {
    font-size: 20px;
  }
}

@media (min-width: 0px) {
  nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    top: 0;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    height: 90px;
    width: 100vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav #menu-left {
    display: none;
  }
  nav #logo {
    height: 50%;
    margin-left: 4vw;
  }
  nav #logo img {
    height: 100%;
  }
  nav #menu-right {
    display: none;
  }
  nav .burger {
    cursor: pointer;
    margin-right: 6vw;
  }
  nav .burger img {
    width: 25px;
  }
  .modal-menu a:hover {
    text-decoration: underline;
  }
  .modal-menu .modal-menu-top-space {
    height: 90px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .modal-menu .modal-menu-top-space .close-x {
    cursor: pointer;
    margin-right: 6vw;
  }
  .modal-menu .modal-menu-top-space .close-x img {
    width: 25px;
  }
  .modal-menu .scroll-me {
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    background-color: #e9eae5;
    font-family: "TT-Norms-Light";
    font-size: 24px;
  }
  .modal-menu .scroll-me .main-menu li {
    cursor: pointer;
    padding: 1.5rem 0 1.5rem 0;
    margin: 0 6vw 0 6vw;
  }
  .modal-menu .scroll-me .main-menu li:hover {
    text-decoration: underline;
  }
  .modal-menu .scroll-me .main-menu .submenu-trigger .expand-submenu {
    height: 1rem;
  }
  .modal-menu .scroll-me .main-menu .submenu-trigger .expanded-submenu {
    height: 1rem;
  }
  .modal-menu .scroll-me .main-menu .submenu li {
    cursor: pointer;
    padding: 1.5rem 0 1.5rem 0;
    margin: 0 6vw 0 12vw;
  }
  .modal-menu .scroll-me .main-menu .submenu li .expand-sub-sub {
    height: 1rem;
  }
  .modal-menu .scroll-me .main-menu .submenu li .expanded-sub-sub {
    height: 1rem;
  }
  .modal-menu .scroll-me .main-menu .submenu .sub-submenu {
    font-family: "TT-Norms-Medium";
    font-size: 18px;
    margin-left: 12vw;
    padding-bottom: 22px;
    width: calc(100vw - 12vw);
  }
  .modal-menu .scroll-me .main-menu .submenu .sub-submenu .sub-submenu-more {
    padding: 0.75rem 0 3rem 0;
    cursor: pointer;
  }
  .modal-menu .scroll-me .main-menu .submenu .sub-submenu .sub-submenu-title {
    font-family: "TT-Norms-Light";
    padding: 0.75rem 0 0.75rem 0;
  }
  .modal-menu .scroll-me .main-menu .submenu .sub-submenu ul li {
    padding: 0.75rem 0 0.75rem 0;
    border-bottom: none;
    margin-left: 0;
  }
  .content {
    position: relative;
    top: 90px;
    scroll-behavior: smooth;
  }
}

@media (min-width: 0px) and (min-width: 801px) {
  nav {
    height: 120px;
    font-size: 1.38vw;
  }
  nav .burger img {
    width: 30px;
  }
  .modal-menu {
    font-size: 2.14vw;
  }
  .modal-menu .modal-menu-top-space {
    height: 120px;
  }
  .modal-menu .modal-menu-top-space .close-x img {
    width: 30px;
  }
  .modal-menu .scroll-me .main-menu .submenu .sub-submenu {
    padding-bottom: 22px;
  }
  #logo {
    margin-left: 0;
  }
  .content {
    top: 120px;
  }
}

@media (min-width: 0px) and (min-width: 801px) and (min-width: 1025px) {
  nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 160px;
    font-size: 1.38vw;
  }
  nav #menu-left {
    display: block;
    margin-left: 4vw;
  }
  nav #menu-left ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav #menu-left ul li {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    padding: 0px 0px 10px 0px;
    position: relative;
    margin-right: 2rem;
  }
  nav #menu-left ul li::after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0%;
    position: absolute;
    -webkit-transition: background 0.3s linear 0s, width 0.3s ease 0s;
    transition: background 0.3s linear 0s, width 0.3s ease 0s;
    width: 0;
  }
  nav #menu-left ul li:hover::after {
    width: 100%;
    left: 0;
    background: #50565b;
  }
  nav #menu-left ul .leistungen .nupsie {
    height: 8px;
  }
  nav #menu-right {
    display: block;
    margin-right: 4vw;
  }
  nav #menu-right ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav #menu-right ul li {
    display: block;
    text-decoration: none;
    display: inline-block;
    padding: 0px 0px 10px 0px;
    position: relative;
    margin-left: 2rem;
  }
  nav #menu-right ul li::after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0%;
    position: absolute;
    -webkit-transition: background 0.3s linear 0s, width 0.3s ease 0s;
    transition: background 0.3s linear 0s, width 0.3s ease 0s;
    width: 0;
  }
  nav #menu-right ul li:hover::after {
    width: 100%;
    left: 0;
    background: #50565b;
  }
  nav .burger {
    display: none;
  }
  .modal-menu {
    height: auto;
    position: fixed;
    top: 160px;
    font-size: 2.14vw;
    z-index: 20;
  }
  .modal-menu .scroll-me .modal-menu-top-space {
    height: 30px;
  }
  .modal-menu .scroll-me .modal-menu-top-space .close-x {
    margin-top: 4vw;
    margin-right: 4vw;
  }
  .modal-menu .scroll-me .modal-menu-top-space .close-x img {
    width: 25px;
  }
  .modal-menu .scroll-me .main-menu li {
    padding: 1.5rem 0vw 1.5rem 0vw;
    margin: 0 4vw 0 4vw;
  }
  .modal-menu .scroll-me .main-menu .submenu li {
    padding: 1.5rem 0vw 1.5rem 0vw;
    margin: 0 4vw 0 4vw;
  }
  .modal-menu .scroll-me .main-menu .submenu .sub-submenu {
    margin-left: 4vw;
    padding-bottom: 30px;
    width: calc(100vw - 8vw);
    font-size: 1.38vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 20% 20% 20% 20% 20%;
        grid-template-columns: 20% 20% 20% 20% 20%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "more . . . . " "col1 col2 col3 col4 col5";
  }
  .modal-menu .scroll-me .main-menu .submenu .sub-submenu .sub-submenu-more {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: more;
  }
  .modal-menu .scroll-me .main-menu .submenu .sub-submenu .sub-submenu-1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: col1;
  }
  .modal-menu .scroll-me .main-menu .submenu .sub-submenu .sub-submenu-2 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: col2;
  }
  .modal-menu .scroll-me .main-menu .submenu .sub-submenu .sub-submenu-3 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: col3;
  }
  .modal-menu .scroll-me .main-menu .submenu .sub-submenu .sub-submenu-4 {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
    grid-area: col4;
  }
  .modal-menu .scroll-me .main-menu .submenu .sub-submenu .sub-submenu-5 {
    -ms-grid-row: 2;
    -ms-grid-column: 5;
    grid-area: col5;
  }
  .content {
    top: 160px;
  }
}

@media (min-width: 0px) and (min-width: 801px) and (min-width: 1025px) and (min-width: 1441px) {
  nav {
    height: 180px;
    font-size: 20px;
  }
  nav #menu-left ul .leistungen .nupsie {
    height: 10px;
  }
  .modal-menu .scroll-me {
    top: 180px;
    font-size: 30px;
  }
  .modal-menu .scroll-me .modal-menu-top-space {
    height: 45px;
  }
  .modal-menu .scroll-me .main-menu .submenu .sub-submenu {
    font-size: 20px;
    padding-bottom: 45px;
  }
  .content {
    top: 180px;
    scroll-behavior: smooth;
  }
}

@media (min-width: 0px) {
  .intro_h1 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: header;
  }
  .intro_p {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: info;
  }
  .arrow-down {
    height: 45px;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: down-arrow;
    margin-bottom: 10px;
  }
  .intro {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 6vw 88vw 6vw;
        grid-template-columns: 6vw 88vw 6vw;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: ". header ." ". down-arrow ." ". info .";
  }
  .bg-illu {
    width: 60vw;
    position: absolute;
    left: calc(40vw);
    z-index: -10;
  }
}

@media (min-width: 0px) and (min-width: 801px) {
  .arrow-down {
    height: 45px;
    margin-bottom: 0;
  }
  .intro_p {
    margin-left: -3rem;
  }
  .intro {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 4vw;
        grid-template-columns: 4vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 4vw;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: ". . header header header header header header . ." ". . down-arrow . . . . . . ." ". . . info info info info info . .";
  }
  .bg-illu {
    width: 40vw;
    left: calc(55vw);
  }
}

@media (min-width: 0px) and (min-width: 801px) and (min-width: 1025px) {
  .arrow-down {
    height: 60px;
  }
}

@media (min-width: 0px) and (min-width: 801px) and (min-width: 1025px) and (min-width: 1441px) {
  .arrow-down {
    height: 90px;
  }
  .intro {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 166px 166px 166px 166px 166px 166px 166px 166px;
        grid-template-columns: 166px 166px 166px 166px 166px 166px 166px 166px;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: ". header header header header header header ." ". down-arrow . . . . . ." ". . info info info info info .";
  }
  .bg-illu {
    width: 600px;
    position: absolute;
    left: calc(55vw);
    z-index: -10;
  }
}

@media (min-width: 0px) {
  .arrow-right {
    width: 45px;
  }
  .A {
    -ms-grid-column-align: start;
        justify-self: start;
    grid-area: A;
  }
  .B {
    -ms-grid-column-align: end;
        justify-self: end;
    grid-area: B;
  }
  .C {
    -ms-grid-column-align: start;
        justify-self: start;
    grid-area: C;
  }
  .D {
    -ms-grid-column-align: end;
        justify-self: end;
    grid-area: D;
  }
  .E {
    -ms-grid-column-align: start;
        justify-self: start;
    grid-area: E;
  }
  .F {
    -ms-grid-column-align: end;
        justify-self: end;
    grid-area: E;
  }
  .teasers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 90px;
  }
  .teaser-small {
    width: calc(100vw + -12vw);
    height: calc(100vw + -12vw);
    margin-bottom: 6vw;
  }
  .teaser-small .click-area {
    cursor: pointer;
  }
  .teaser-small .close-teaser :hover {
    cursor: pointer;
  }
  .teaser-small-modal {
    display: none;
  }
  .paddington {
    padding: 6vw;
  }
}

@media (min-width: 0px) and (min-width: 801px) {
  .arrow-right {
    width: 45px;
  }
  .teaser-small {
    margin-bottom: 2vw;
  }
  .A {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .B {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .C {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .D {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .E {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .F {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .teasers {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 4vw;
        grid-template-columns: 4vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 4vw;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: ". . A . . . . B . ." ". . C . . . . D . ." ". . E . . . . F . .";
  }
  .teaser-small {
    width: calc(3 * 11.5vw + -1vw);
    height: calc(3 * 11.5vw + -1vw);
  }
  .teaser-small a:hover {
    text-decoration: underline;
  }
  .paddington {
    padding: 3vw;
  }
  .teasers {
    margin-bottom: 120px;
  }
  .teaser-small-modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    width: calc(6 * 11.5vw);
  }
  .teaser-small-modal img {
    height: calc(3 * 11.5vw + -1vw);
  }
  .teaser-small-modal h3 {
    text-decoration: underline;
  }
  .teaser-small-modal-info {
    background-color: white;
    width: calc(3 * 11.5vw + -1vw);
    padding: 3vw;
  }
  .teaser-small-modal-info small a:hover {
    text-decoration: underline;
  }
  .click-area {
    width: calc(3 * 11.5vw + -1vw);
    height: calc(3 * 11.5vw + -1vw);
    position: absolute;
  }
  .close-teaser {
    height: 40px;
  }
  .close-teaser img {
    height: 20px;
  }
}

@media (min-width: 0px) and (min-width: 801px) and (min-width: 1025px) {
  .arrow-right {
    width: 60px;
  }
  .close-teaser {
    height: 50px;
  }
  .close-teaser img {
    height: 25px;
  }
  .teasers {
    margin-bottom: 160px;
  }
}

@media (min-width: 0px) and (min-width: 801px) and (min-width: 1025px) and (min-width: 1441px) {
  .arrow-right {
    width: 90px;
  }
  .teasers {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 166px 166px 166px 166px 166px 166px 166px 166px;
        grid-template-columns: 166px 166px 166px 166px 166px 166px 166px 166px;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: ". A . . . . B ." ". C . . . . D ." ". E . . . . F .";
    margin-bottom: 180px;
  }
  .teaser-small {
    width: calc(3 * 166px + -14px);
    height: calc(3 * 166px + -14px);
    margin-bottom: 28px;
  }
  .paddington {
    padding: 43px;
  }
  .teaser-small-modal {
    width: calc(6 * 166px);
  }
  .teaser-small-modal img {
    height: calc(3 * 166px + -14px);
  }
  .teaser-small-modal-info {
    width: calc(3 * 166px + -14px);
    padding: 43px;
  }
  .click-area {
    width: calc(3 * 166px + -14px);
    height: calc(3 * 166px + -14px);
  }
  .close-teaser {
    height: 50px;
  }
  .close-teaser img {
    height: 25px;
  }
}

@media (min-width: 0px) {
  .teaser-big {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 45px;
  }
  .teaser-big .teaser-big-text {
    width: calc(100vw + -12vw);
  }
  .teaser-big .teaser-big-text small {
    display: block;
    margin-bottom: 22px;
  }
  .teaser-big .teaser-big-text h3 {
    margin-bottom: 22px;
  }
  .teaser-big .teaser-big-text .arrow-right {
    margin-bottom: 22px;
  }
  .teaser-big .teaser-big-img {
    width: calc(100vw + -12vw);
    height: calc(100vw + -12vw);
  }
  .teaser-big .slider .swiper-slide img {
    width: calc(100vw + -12vw);
  }
  .teaser-big .slider .swiper-container {
    width: calc(100vw + -12vw);
    height: calc(100vw + -12vw);
  }
  .teaser-big .slider .swiper-slide {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .teaser-big .slider .swiper-pagination {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    top: 22px;
    left: 0px;
    width: auto !important;
    left: auto !important;
    margin-bottom: 90px;
    z-index: 0;
  }
  .teaser-big .slider .swiper-pagination-bullet {
    margin: 5px;
    border-radius: 0;
    width: calc((100vw + -12vw)/5 + -10px);
    height: 1px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: #50565b;
  }
  .teaser-big .slider .swiper-pagination-bullet:after {
    content: "";
    padding: 20px calc(((100vw + -12vw)/5 + -10px)/2);
  }
  .teaser-big .slider .swiper-pagination-bullet:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .teaser-big .slider .swiper-pagination-bullet-active {
    color: #fff;
    background: #50565b;
    height: 5px;
  }
}

@media (min-width: 0px) and (min-width: 801px) {
  .teaser-big {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100vw;
    margin-bottom: 120px;
  }
  .teaser-big .right small,
  .teaser-big .right h3,
  .teaser-big .right .arrow-right {
    margin-left: 2vw;
  }
  .teaser-big .teaser-big-text {
    width: calc(11.5vw * 4 - 2vw);
    padding-right: 2vw;
  }
  .teaser-big .teaser-big-text small {
    margin-bottom: 22px;
  }
  .teaser-big .teaser-big-text h3 {
    margin-bottom: 22px;
  }
  .teaser-big .teaser-big-text .arrow-right {
    margin-bottom: 22px;
  }
  .teaser-big .teaser-big-img {
    width: calc(11.5vw * 4);
    height: calc(11.5vw * 4);
  }
  .teaser-big .slider .swiper-slide img {
    width: calc(11.5vw * 4);
  }
  .teaser-big .slider .swiper-container {
    width: calc(11.5vw * 4);
    height: calc(11.5vw * 4);
  }
  .teaser-big .slider .swiper-pagination {
    top: 22px;
  }
  .teaser-big .slider .swiper-pagination-bullet {
    width: calc((11.5vw * 4)/5 + -10px);
  }
  .teaser-big .slider .swiper-pagination-bullet:after {
    padding: 20px calc(((11.5vw * 4)/5 + -10px)/2);
  }
}

@media (min-width: 0px) and (min-width: 801px) and (min-width: 1025px) {
  .teaser-big {
    margin-bottom: 160px;
  }
  .teaser-big .teaser-big-text small {
    margin-bottom: 30px;
  }
  .teaser-big .teaser-big-text h3 {
    margin-bottom: 30px;
  }
  .teaser-big .teaser-big-text .arrow-right {
    margin-bottom: 30px;
  }
  .teaser-big .slider .swiper-pagination {
    top: 30px;
  }
  .teaser-big .slider .swiper-pagination-bullet {
    width: calc((0.115 * 1025px * 4)/5 + -10px);
  }
  .teaser-big .slider .swiper-pagination-bullet:after {
    padding: 20px calc(((0.115 * 1025px * 4)/5 + -10px)/2);
  }
}

@media (min-width: 0px) and (min-width: 801px) and (min-width: 1025px) and (min-width: 1441px) {
  .teaser-big {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100vw;
    margin-bottom: 180px;
  }
  .teaser-big .right small,
  .teaser-big .right h3,
  .teaser-big .right .arrow-right {
    margin-left: 28px;
  }
  .teaser-big .teaser-big-text {
    width: calc(166px * 4 - 28px);
    padding-right: 28px;
  }
  .teaser-big .teaser-big-text small {
    margin-bottom: 45px;
  }
  .teaser-big .teaser-big-text h3 {
    margin-bottom: 45px;
  }
  .teaser-big .teaser-big-text .arrow-right {
    margin-bottom: 45px;
  }
  .teaser-big .teaser-big-img {
    width: calc(166px * 4);
    height: calc(166px * 4);
  }
  .teaser-big .slider .swiper-slide img {
    width: calc(166px * 4);
  }
  .teaser-big .slider .swiper-container {
    width: calc(166px * 4);
    height: calc(166px * 4);
  }
  .teaser-big .slider .swiper-pagination {
    top: 30px;
  }
}

@media (min-width: 0px) {
  .space {
    width: 100%;
    height: 90px;
  }
  .opening-hours {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .opening-hours small {
    width: calc(100vw - 12vw);
  }
}

@media (min-width: 0px) and (min-width: 801px) {
  .space {
    width: 100%;
    height: 120px;
  }
  .opening-hours {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .opening-hours small {
    width: calc(100vw - 8vw - 2*11.5vw);
  }
}

@media (min-width: 0px) and (min-width: 801px) and (min-width: 1025px) and (min-width: 1441px) {
  .opening-hours {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .opening-hours small {
    width: calc(166px * 6);
  }
}

@media (min-width: 0px) {
  footer {
    width: 100%;
    background-color: #e9eae5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer-content {
    width: calc(100vw - 12vw);
    margin-top: 45px;
  }
  footer .footer-content .cols .col {
    display: block;
    margin-bottom: 45px;
  }
  footer .footer-content .cols .col .col-header {
    font-family: "TT-Norms-Light";
    margin-bottom: 22px;
  }
  footer .footer-content .cols .col ul li {
    line-height: 2rem;
  }
  footer .footer-content .cols .col .insta {
    width: 1.5rem;
    padding-top: 0.4rem;
  }
  footer .footer-content .cols .logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 45px;
  }
  footer .footer-content .cols .logos img {
    width: 3rem;
    height: 3rem;
    margin-top: -vert-heights-quarter(sm);
    margin-right: 1rem;
  }
  footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 2rem;
  }
  footer .copyright img {
    width: 4rem;
  }
  footer .copyright small {
    font-family: "TT-Norms-Light";
    padding-top: 1rem;
  }
}

@media (min-width: 0px) and (min-width: 801px) {
  footer .footer-content {
    width: calc(100vw - 4vw * 2 - 11.5vw * 2);
    margin-top: 45px;
  }
  footer .footer-content .cols {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 33.33% 33.33% 16.67% 16.67%;
        grid-template-columns: 33.33% 33.33% 16.67% 16.67%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "FA FB FC FD";
  }
  footer .footer-content .cols .FA {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: FA;
  }
  footer .footer-content .cols .FB {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: FB;
  }
  footer .footer-content .cols .FC {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: FC;
  }
  footer .footer-content .cols .FD {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: FD;
  }
  footer .footer-content .cols .col {
    display: inline;
    margin-bottom: 45px;
  }
  footer .footer-content .cols .col .col-header {
    margin-bottom: 22px;
  }
  footer .footer-content .cols .col ul li {
    line-height: 1.5rem;
  }
  footer .footer-content .cols .col .insta {
    width: 1.2rem;
    padding-top: 0.4rem;
  }
  footer .footer-content .cols .logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 45px;
  }
  footer .footer-content .cols .logos img {
    width: 4rem;
    height: 4rem;
    margin-top: -vert-heights-quarter(md);
    margin-right: 1rem;
  }
}

@media (min-width: 0px) and (min-width: 801px) and (min-width: 1025px) {
  footer .footer-content {
    margin-top: 60px;
  }
  footer .footer-content .cols {
    -ms-grid-columns: 33.33% 33.33% 16.67% 16.67%;
        grid-template-columns: 33.33% 33.33% 16.67% 16.67%;
  }
  footer .footer-content .cols .col {
    margin-bottom: 60px;
  }
  footer .footer-content .cols .col .col-header {
    margin-bottom: 30px;
  }
  footer .footer-content .cols .col ul li {
    line-height: 1.5rem;
  }
  footer .footer-content .cols .col .insta {
    width: 1.5rem;
    padding-top: 0.4rem;
  }
  footer .footer-content .cols .logos {
    margin-bottom: 60px;
  }
  footer .footer-content .cols .logos img {
    margin-top: -vert-heights-quarter(lg);
  }
}

@media (min-width: 0px) and (min-width: 801px) and (min-width: 1025px) and (min-width: 1441px) {
  footer .footer-content {
    margin-top: 90px;
    width: calc(166px * 6);
  }
  footer .footer-content .cols .col {
    margin-bottom: 90px;
  }
  footer .footer-content .cols .col .col-header {
    margin-bottom: 45px;
  }
  footer .footer-content .cols .col ul li {
    line-height: 1.5rem;
  }
  footer .footer-content .cols .logos {
    margin-bottom: 90px;
  }
  footer .footer-content .cols .logos img {
    margin-top: -vert-heights-quarter(xl);
  }
}
/*# sourceMappingURL=kontakt.css.map */