/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (min-width: 0px) {
  body {
    font-family: "TT-Norms-Medium";
    margin: 0;
    color: #50565b;
  }
  .visible {
    visibility: visible;
  }
  .invisible {
    visibility: hidden;
  }
  nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    height: 90px;
    width: 100vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav #menu-left {
    display: none;
  }
  nav #logo {
    height: 50%;
    margin-left: 4vw;
  }
  nav #menu-right {
    display: none;
  }
  nav .burger {
    cursor: pointer;
    margin-right: 6vw;
  }
  nav .burger img {
    width: 25px;
  }
  .sub-menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 20;
    background-color: #e9eae5;
    font-family: "TT-Norms-Light";
    font-size: 24px;
  }
  .sub-menu .sub-menu-top-space {
    height: 90px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .sub-menu .sub-menu-top-space .close-x {
    cursor: pointer;
    margin-right: 6vw;
  }
  .sub-menu .sub-menu-top-space .close-x img {
    width: 25px;
  }
  .sub-menu ul li {
    padding: 1.5rem 0vw 1.5rem 0vw;
    border-bottom: 1px solid white;
    margin: 0 6vw 0 6vw;
  }
  .bg-illu {
    width: 60vw;
    position: absolute;
    left: calc(40vw);
    top: 90px;
    z-index: -10;
  }
  .content {
    position: relative;
    top: 90px;
    scroll-behavior: smooth;
  }
  .space {
    height: 90px;
    width: 100vw;
  }
  h1 {
    font-size: 36px;
    line-height: 1.2;
    font-family: "TT-Norms-Light";
    color: #737b82;
  }
  p {
    font-size: 20px;
    line-height: 1.3;
    padding-bottom: 90px;
  }
  .intro_h1 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: header;
  }
  .intro_p {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: info;
  }
  .arrow-down {
    height: 45px;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: down-arrow;
    margin-bottom: 10px;
  }
  .arrow-right {
    width: 45px;
  }
  .reconstructive {
    background-color: #d7dacd;
    color: #636951;
    -ms-grid-column-align: start;
        justify-self: start;
    grid-area: A;
  }
  .aesthetic {
    background-color: #d6d1db;
    color: #5c3c78;
    -ms-grid-column-align: end;
        justify-self: end;
    grid-area: B;
  }
  .general {
    background-color: #c7d9dd;
    color: #1e505f;
    -ms-grid-column-align: start;
        justify-self: start;
    grid-area: C;
  }
  .hand {
    background-color: #ccd3d6;
    color: #3b4c5b;
    -ms-grid-column-align: end;
        justify-self: end;
    grid-area: D;
  }
  h2 {
    font-family: "TT-Norms-Light";
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 22px;
  }
  small {
    font-size: 18px;
    line-height: 1.3;
  }
  .intro {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 6vw 88vw 6vw;
        grid-template-columns: 6vw 88vw 6vw;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: ". header ." ". down-arrow ." ". info .";
  }
  .teasers {
    margin-bottom: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .teaser-small {
    width: calc(88vw + -12vw);
    height: calc(88vw + -12vw);
    padding: 6vw;
    margin-bottom: 6vw;
  }
}

@media (min-width: 0px) and (min-width: 799px) {
  nav {
    height: 120px;
    font-size: 1.38vw;
  }
  nav .burger img {
    width: 30px;
  }
  .sub-menu {
    font-size: 2.14vw;
  }
  .sub-menu .sub-menu-top-space {
    height: 120px;
  }
  .sub-menu .sub-menu-top-space .close-x img {
    width: 30px;
  }
  #logo {
    margin-left: 0;
  }
  .content {
    top: 120px;
  }
  .space {
    height: 120px;
  }
  .bg-illu {
    top: 120px;
    width: 40vw;
    left: calc(55vw);
  }
  h1 {
    font-size: 5.71vw;
    line-height: 1.2;
  }
  p {
    font-size: 1.71vw;
    line-height: 1.3;
    padding-bottom: 120px;
  }
  .arrow-down {
    height: 45px;
    margin-bottom: 0;
  }
  .arrow-right {
    width: 45px;
  }
  .reconstructive {
    margin-bottom: 22px;
  }
  .aesthetic {
    margin-bottom: 22px;
  }
  h2 {
    font-size: 3vw;
    margin-bottom: 22px;
  }
  small {
    font-size: 1.38vw;
  }
  .intro {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 4vw;
        grid-template-columns: 4vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 4vw;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: ". . header header header header header header . ." ". . down-arrow . . . . . . ." ". . . info info info info info . .";
  }
  .teasers {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 4vw;
        grid-template-columns: 4vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 4vw;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: ". . A . . . . B . ." ". . C . . . . D . .";
    margin-bottom: 120px;
  }
  .teaser-small {
    width: calc( 3 * 11.5vw + -1vw + -2 * 3vw);
    height: calc( 3 * 11.5vw + -1vw + -2 * 3vw);
    padding: 3vw;
  }
}

@media (min-width: 0px) and (min-width: 799px) and (min-width: 1023px) {
  nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 160px;
    font-size: 1.38vw;
  }
  nav #menu-left {
    display: block;
    margin-left: 4vw;
  }
  nav #menu-left ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav #menu-left ul li {
    cursor: pointer;
    margin-right: 2rem;
  }
  nav #menu-left ul .leistungen .nupsie {
    height: 8px;
  }
  nav #menu-right {
    display: block;
    margin-right: 4vw;
  }
  nav #menu-right ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav #menu-right ul li {
    display: block;
    padding-left: 2rem;
  }
  nav .burger {
    display: none;
  }
  .sub-menu {
    height: auto;
    position: fixed;
    top: 160px;
    font-size: 2.14vw;
  }
  .sub-menu .sub-menu-top-space {
    height: 30px;
  }
  .sub-menu .sub-menu-top-space .close-x {
    margin-top: 4vw;
    margin-right: 4vw;
  }
  .sub-menu .sub-menu-top-space .close-x img {
    width: 25px;
  }
  .sub-menu ul li {
    padding: 1.5rem 0vw 1.5rem 0vw;
    border-bottom: 1px solid white;
    margin: 0 4vw 0 4vw;
  }
  .bg-illu {
    top: 160px;
  }
  .content {
    top: 160px;
  }
  .space {
    height: 160px;
  }
  h1 {
    font-size: 5.71vw;
    line-height: 1.2;
  }
  p {
    font-size: 1.71vw;
    line-height: 1.3;
    padding-bottom: 160px;
  }
  .arrow-down {
    height: 60px;
  }
  .arrow-right {
    width: 60px;
  }
  .reconstructive {
    margin-bottom: 30px;
  }
  .aesthetic {
    margin-bottom: 30px;
  }
  h2 {
    font-size: 3vw;
    margin-bottom: 30px;
  }
  small {
    font-size: 1.38vw;
  }
  .teasers {
    margin-bottom: 160px;
  }
}

@media (min-width: 0px) and (min-width: 799px) and (min-width: 1023px) and (min-width: 1439px) {
  nav {
    height: 180px;
    font-size: 20px;
  }
  nav #menu-left ul .leistungen .nupsie {
    height: 10px;
  }
  .sub-menu {
    top: 180px;
    font-size: 30px;
  }
  .sub-menu .sub-menu-top-space {
    height: 45px;
  }
  .bg-illu {
    width: 600px;
    position: absolute;
    left: calc(55vw);
    top: 180px;
    z-index: -10;
  }
  .content {
    top: 180px;
    scroll-behavior: smooth;
  }
  .space {
    height: 180px;
    width: 100vw;
  }
  h1 {
    font-size: 80px;
    line-height: 1.2;
  }
  p {
    font-size: 24px;
    line-height: 1.3;
    padding-bottom: 180px;
  }
  .arrow-down {
    height: 90px;
  }
  .arrow-right {
    width: 90px;
  }
  .reconstructive {
    margin-bottom: 45px;
  }
  .aesthetic {
    margin-bottom: 45px;
  }
  h2 {
    font-size: 42px;
    margin-bottom: 30px;
  }
  small {
    font-size: 20px;
  }
  .intro {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 200px 200px 200px 200px 200px 200px 200px 200px;
        grid-template-columns: 200px 200px 200px 200px 200px 200px 200px 200px;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: ". header header header header header header ." ". down-arrow . . . . . ." ". . info info info info info .";
  }
  .teasers {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 200px 200px 200px 200px 200px 200px 200px 200px;
        grid-template-columns: 200px 200px 200px 200px 200px 200px 200px 200px;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: ". A . . . . B ." ". C . . . . D .";
    margin-bottom: 180px;
  }
  .teaser-small {
    width: calc( 3 * 200px + -1vw + -2 * 50px);
    height: calc( 3 * 200px + -1vw + -2 * 50px);
    padding: 50px;
  }
}

@font-face {
  font-family: "TT-Norms-Light";
  src: url(../fonts/TT-Norms-Light.woff2) format("woff2"), url(../fonts/TT-Norms-Light.woff) format("woff");
}

@font-face {
  font-family: "TT-Norms-Medium";
  src: url(../fonts/TT-Norms-Medium.woff2) format("woff2"), url(../fonts/TT-Norms-Medium.woff) format("woff");
}
/*# sourceMappingURL=main.css.map */