@import "./reset";
@import "./variables";
@import "./responsive";
@font-face {
  font-family: "TT-Norms-Light";
  src: url(../fonts/TT-Norms-Light.woff2) format("woff2"),
    url(../fonts/TT-Norms-Light.woff) format("woff");
}
@font-face {
  font-family: "TT-Norms-Medium";
  src: url(../fonts/TT-Norms-Medium.woff2) format("woff2"),
    url(../fonts/TT-Norms-Medium.woff) format("woff");
}

///
body {
  font-family: "TT-Norms-Medium";
  margin: 0;
  color: map-get($colors, steel);
}
nav {
  //font-size: (responsive)
  display: flex;
  align-items: center;
  justify-content: space-between;
  //height: (responsive)
  #menu-left {
    margin-left: 2.78vw; // 1 4 4 4 4 4 4 4 4 1
    ul {
      display: flex;
      li {
        padding-right: 2.5rem;
      }
    }
  }
  #logo {
    height: 60%;
  }
  #menu-right {
    margin-right: 2.78vw; // 1 4 4 4 4 4 4 4 4 1
    ul {
      display: flex;
      li {
        padding-left: 2.5rem;
      }
    }
  }
}
