@import "./reset";
@import "./variables";
@import "./responsive";
@font-face {
  font-family: "TT-Norms-Light";
  src: url(../fonts/TT-Norms-Light.woff2) format("woff2"),
    url(../fonts/TT-Norms-Light.woff) format("woff");
}
@font-face {
  font-family: "TT-Norms-Medium";
  src: url(../fonts/TT-Norms-Medium.woff2) format("woff2"),
    url(../fonts/TT-Norms-Medium.woff) format("woff");
}

///
body {
  font-family: "TT-Norms-Medium";
  margin: 0;
  color: map-get($colors, steel);
}